* {
  margin: 0;
  padding: 0;
}

.unique [class*=col]
{
	padding: 0px;	
}


html {
	height: 100%;
}

body {
    	font-family: Trebuchet MS;
	letter-spacing: .5px;
    	height: 100%;
	margin: 0px 0px 190px 0px;
}

#title {
    	font-size: 25px;
    	color: RoyalBlue;
}

#home-button {
    	clear: left;
    	position: fixed;
    	margin: -30% 0px 0px 4%;
    	color: royalblue;
	
}

#main {  
    	margin: 40px 10% 0px 14%;
}

#header {
	width: 100%;
    	clear: left;
    	position: absolute;
    	margin: -40px 0px 0px 0px;
    	background: rgba(255, 255, 255, 0.55);
}

#content {
	margin: 35px 0px 0px 0px;	
	font-size: 16px;
}

#isaac {
	width: 25%;
    	border: 1.5px solid lightgray;	
    	border-radius: 4px;
	padding: 2px;
	float: right;
    	margin: 0px 25px;
}

/* #isaac:hover {
    	border: 1.5px solid RoyalBlue;	
    	border-radius: 4px;
	padding: 2px;	
} */



/* Navbar Styles */

#navbar {
	list-style-type: none;
	overflow: hidden;
}

#navbar li {
	float: left;
}

#navbar li a {
	color: black;
	display: block;
	text-align: center;
    	padding: 7px 10px;
	text-decoration: none;
	font-size: 16px;
}

#navbar li a.active {
	color: RoyalBlue;
	border-bottom: 2px solid lightgray;
}

#navbar li a:hover {
	color: RoyalBlue;
	border-bottom: 2px solid lightgray;
}



/* Banner Styles */

#banner {
}

#banner-img {
	width: 100%;
}



/* Custom list-type environment for content */

#contentBlock {
	padding: 0px 0px 25px 0px;
}

#contentItem {
	font-size: 20px;
	font-style: normal;
	padding: 0px 0px 0px 0px;
}

#contentPar {
	padding: 0px 0px 10px 0px;
}

#contentList {
	list-style: none;
}

#contentListItem {
	padding: 0px 0px 0px 25px;	
}



/* For my picture slides */

.mySlides {
	padding: 5px 0px;	
}

img {
    image-orientation: from-image;
}



/* Footer styles */

#footer {
	margin: 0px 0px 0px 0px;
	padding: 10px 20% 10px 24%;
	background-color: WhiteSmoke;
	border: 1px solid lightgray;
	border-style: solid;
	border-width: .25px 0px 0px 0px;
	font-size: 13px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}



/* Universal styles */

a {
	color: RoyalBlue;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover {
    color: gray;
}

a.no {
	color: gray;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a.no:hover {
    color: RoyalBlue;
}

li {
	padding: 2px 0px 0px 0px;	
}

