#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

#content {
	padding: 5px 15px;
	margin: 0px 0px 100px 0px;
}

#space {
	padding: 5px;
}

#img {
	width: 40%;
	padding: 0px;
	margin: 0px 10px;
	border-radius: 5px;
  	border: 1px solid gray;
}

#dspace {
	padding: 20px 0px 0px 0px;
}
