body {
    width: 65%;
    font-family: 'Helvetica';
    font-size: 1em;
}

#site-title {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    font-family: Georgia, "Bitstream Charter", serif;
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 1.15;
    padding: 0 2.954209748892% .275em;
}

nav ul {
    font-family:'Helvetica';
    font-size: 1em;
    list-style: none;
    left:0;
    padding: 10px;
}

footer ul {
    font-family:'Helvetica;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    padding: 5px;
    margin: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: white;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica';
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding: 5px;
    margin-top: 20px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#project {
    margin-left: 2em;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 1px 1px 1px #888888;
    background: gainsboro;
    padding: 5px;
}

#project-content {
    margin-left: 1em;
}

#title {
    color: cornflowerblue;
}
