body {
    padding-top: 60px;
    padding-bottom: 60px;
}

header {
    border-bottom: 1px solid gray;   
}

a {
    color: blue;
}

a:hover {
    color: blue;
}

#sidebar {
    color: red;   
}

.sidebar h1 {
    color: blue;
    font-size: 1.3em;
}

.sidebar li {
    margin-top: 1em;
    line-height: 1em;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: blue;
    font-size: 1.3em;
}
