body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: green;
}

.footer {
    text-align: center;
}

.footer a {
    color: yellow;
}

.sidebar h1 {
    color: blue;
    font-size: 1.3em;
}

.sidebar a {
    color: blue;
}

.sidebar li {
    margin-top: 1em;
    line-height: 1em;
}

.sidebar a:hover {
    color: blue;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: blue;
    font-size: 1.3em;
}
