<div id="header">
<ul id="navbar">
	{% assign current = page.url | downcase | split: '/' %}
	
        <li><a href="{{ site.baseurl }}/" {% if current[1] == nil %}class="active"{% endif %}>Home</a></li>
        <li><a href="/research/index.html" {% if current[1] == 'research' %}class="active"{% endif %}>Research</a></li>
        <li><a href="/involvement/index.html" {% if current[1] == 'involvement' %}class="active"{% endif %}>Involvement</a></li>
        <!-- <li><a href="/talks/index.html" {% if current[1] == 'talks' %}class="active"{% endif %}>Talks</a></li> -->
	<!-- <li><a href="/conferences/index.html" {% if current[1] == 'conferences' %}class="active"{% endif %}>Conferences</a></li> -->
        <!-- <li><a href="/teaching/index.html" {% if current[1] == 'teaching' %}class="active"{% endif %}>Teaching</a></li> -->
        <li><a href="/resources/index.html" {% if current[1] == 'resources' %}class="active"{% endif %}>Resources</a></li>
</ul>
	
<div id="coordinates">
	<a id="home-button" href="https://www.google.com/maps/place/46%C2%B014'15.3%22N+6%C2%B043'24.1%22E/@46.237593,6.5832863,11z/data=!4m5!3m4!1s0x0:0x0!8m2!3d46.237593!4d6.723362">(46.237593, 6.723362)</a>
</div>
	
</div>
