<div class="col-sm-4" id="isaac">
  <a href="{{ site.baseurl }}/files/isaac.jpg">
    <img src="{{ site.baseurl }}/files/isaac.jpg" width="100%">
  </a>
</div>

<div class="col-sm-8" style="float:left;">
  
  <div id="contentSpace"><a href="https://isaacmc.github.io/files/cv.pdf">Curriculum Vitae</a></div>
  
  <div id="contentSpace">
    Academic Bio: I am a third-year graduate student at Bryn Mawr College. My research interests are in low-dimentional topology. In the spring of 2018, I received my master's degree from Bryn Mawr; my thesis was an exposition on Stallings' Fibering Theorem. Currently, I am preparing for my preliminary examinations. I am also an active member of the Graduate Student Association (GSA) at Bryn Mawr, now serving as a cochair. 
  </div>
  <br>
  
  <div id="contentSpace">
    Pronouns: he/him
  </div>
  <br>
</div>
