<div class="col-sm-4" id="isaac">
  <a href="{{ site.baseurl }}/files/isaac.jpg">
    <img src="{{ site.baseurl }}/files/isaac.jpg" width="100%">
  </a>
</div>

<div class="col-sm-8" style="float:left;">
  
  <div id="contentSpace"><a href="https://isaacmc.github.io/files/cv.pdf">Curriculum Vitae</a></div>
  
  <div id="contentSpace">
    <div id="contentItem">About me:</div><br>
    I am a third-year graduate student at Bryn Mawr College. My research interests are in low-dimensional topology. In the spring of 2018, I received my master's degree from Bryn Mawr. My thesis was an exposition on Stallings' Fibering Theorem, advised by <a href="http://www.brynmawr.edu/math/people/melvin/">Paul Melvin</a>. Currently, I am preparing for my preliminary examinations. I am also an active member of the Graduate Student Association (GSA) at Bryn Mawr, now serving as a co-chair.
  </div>
  <br>
  
  <div id="contentSpace">
    <div id="contentItem">Contact Information:</div> <br>
    E-mail: icraig at brynmawr.edu<br>
    Office: 436 Park
  </div>
  <br>
  
  <div id="contentSpace">
    <div id="contentItem">Mailing Address:</div> <br>
    Mathematics Department<br>
    Bryn Mawr College<br>
    906 New Gulph Road<br>
    Bryn Mawr, PA, 19010-2899
  </div>
  <br>
  
  <div id="contentSpace">
    <div id="contentItem">Pronouns:</div> &nbsp; he/him
  </div>
</div>
