<div class="col-sm-12">
	
<div id="contentBlock">
<div id="contentPar" class="col-sm-12">  
	<a href="https://isaacmc.github.io/files/cv.pdf">Curriculum Vitae</a>
</div>
</div>

<div id="contentBlock">
<div id="contentPar" class="col-sm-12">
	I am a PhD candidate and TA in mathematics at Bryn Mawr College. After two years of coursework, I passed my preliminary exams (fall 2018), and I am now focused on my research in low-dimensional topology. During this time I also received my master's degree (spring 2018); my thesis was an exposition of Stallings' Fibering Theorem, advised by <a href="http://www.brynmawr.edu/math/people/melvin/">Paul Melvin</a>. 
</div>
	
<div id="contentPar" class="col-sm-12">
	I love teaching, and it is why I chose to pursue mathematics. As an undergraduate, I spent three years tutoring in the Murphy Learning Center, which is where I realized how much I enjoyed teaching. Now as a graduate student, I am a teaching assistant at Bryn Mawr. Througout the 18-19 academic year, I will be pursuing the Dean's Certificate in Pedegogy at Bryn Mawr.
</div>
	
<div id="contentPar" class="col-sm-12">
	I also try to be an active member of the community at Bryn Mawr. I am a member of the Graduate Student Association, currently serving as a cochair. I organize monthly professional development seminars for the Graduate Group in Science and Mathematics. It is a dream of mine to organize a chess club at Bryn Mawr.
</div>
</div>

<div id="contentBlock">
<div id="contentPar" class="col-sm-12">
	E-mail: icraig at brynmawr.edu
	<br>
	Office: 436 Park Science Center
	<br>
	Pronouns: he/him
</div>
</div>
	
</div>

