<div id="contentBlock">
<div id="contentItem">Research Interests</div>
<div id="contentPar">
	My research interests are in low-dimensional topology. I have spent time working with 3-manifolds, specifically Stallings' Fibering Theorem ('62), the topic of my master's thesis. My current interests are more directed toward 4-manifolds and knot theory, and in particular, the information Khovanov homology contains for certain Kirby diagrams.
</div>
</div>

<div id="contentBlock">
<div id="contentItem">Upcoming & Ongoing Conferences</div>
<ul id="contentList">
	<li><a href="https://math.temple.edu/events/conferences/gscagt/">Graduate Student Conference in Algebra, Geometry, and Topology</a> at Temple University</li>
	<li>Philadelphia Area Topology Contact/Hyperbolic (PATCH) Seminar</li>
	<li><a href="https://www.brynmawr.edu/math/pact-seminar">Philadelphia Area Contact Topology (PACT) Seminar</a> at Bryn Mawr College</li>
</ul>
</div>


<div id="contentBlock">
<div id="contentItem">Publications</div>
<ul id="contentList">
	<li>Multiplication operators on weighted Banach spaces of a tree (<a href = "{{ site.baseurl }}/files/mult_op.pdf">pdf</a>) with Robert F. Allen</li>
</ul>
</div>
