<div class="sidebar well">
<h1>Contact Information</h1>
Office: 1018 Cowley Hall<br />
E-mail: <span class="emailspan"><img src="/shh/a42659826.gif" alt="-" class="email" /><img src="/shh/a71093256.gif" alt="-" class="email" /><img src="/shh/a1208752339807.gif" alt="-" class="email" /><img src="/shh/a1092352398.gif" alt="-" class="email" />@uwlax.edu</span><br />
Telephone: (608)785-6613<br />
<span class="contact_field_name">Fax</span>: (608)785-6602
</div>

<div class="sidebar well">
<h1>Mailing Address</h1>
Mathematics Department<br />
University of Wisconsin-La Crosse<br />
1725 State Street<br />
La Crosse, WI, 54601
</div>
