---
layout: default
title: 
---

Here are my pictures from the MSRI Summer School on H-Principles!

<div class="w3-content w3-display-container">
{% for image in site.static_files %}
    {% if image.path contains 'japan/japan' %}
        <div class="mySlides">
        <a href="{{ site.baseurl }}{{ image.path }}">
            <img class="mySlides" src="{{ site.baseurl }}{{ image.path }}" alt="image" style="width:100%"/>
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                {{ image.basename }}
            </div>
        </a>
        </div>
    {% endif %}
{% endfor %}
    
<!-- Next and previous buttons -->
<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
