---
layout: default
---

{% for post in /journal/entries/ %}
  <div id="contentBlock">    
    <div id="contentItem">{{ post.title }}</div>
    <div id="contentSpace">{{ post.content }}</div>
  </div>
{% endfor %}

{% for post in entries/ %}
  <div id="contentBlock">    
    <div id="contentItem">{{ post.title }}</div>
    <div id="contentSpace">{{ post.content }}</div>
  </div>
{% endfor %}

{% for post in /entries/ %}
  <div id="contentBlock">    
    <div id="contentItem">{{ post.title }}</div>
    <div id="contentSpace">{{ post.content }}</div>
  </div>
{% endfor %}

Test
