<!DOCTYPE html>
	<html>
		<head>
			<title>Isaac M. Craig</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/png" href="http://www.favicon.cc/logo3d/7901.png">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
		        	<li><a href="/projects">Current Projects</a></li>
	    		</ul>
			</nav>
			
			<div id="mySidenav" class="sidenav">
				
				<div>
					<div id="sidenavContent">
						<h2 id="title">To Do List</h2>
						<ul id="sideul">
							<li>Generalize basic linear algebra to infinite cases</li>
							<li>Look at relationship between linear transformations and matrices</li>
							<li>Work through Abbot exercises</li>
						</ul>
					</div>
					<div id="sidenavContent">
						<h2 id="title">Useful Links</h2>
						Articles
						<ul id="sideul">
							<li><a href="https://www.quantamagazine.org/category/mathematics-2/">Quanta</a></li>
							<li><a href="http://www-history.mcs.st-and.ac.uk/">MacTutor History</a></li>
						</ul>
						Resources
						<ul id="sideul">
							<li><a href="http://www.jstor.org/">Jstor</a></li>
							<li><a href="http://www.ams.org/mathscinet/">MathSciNet</a></li>
							<li><a href="http://link.springer.com/">Springer Link</a></li>
							<li><a href="http://en.bookfi.net/">Book Fi</a></li>
						</ul>
					</div>
				</div>
				
			</div>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:craig.isaa@gmail.com">email</a></li>
	        		<li><a href="https://github.com/isaacmc">github.com/isaacmc</a></li>
				</ul>
			</footer>
		</body>
	</html>
