<!DOCTYPE html>
	<html>
		<head>
			<title>Isaac M. Craig</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Greek_uncial_Delta.svg/45px-Greek_uncial_Delta.svg.png">
		</head>
		<body>
			
		<div id="bod">
			<div id="branding">
			  <h1 id="site-title">Isaac Craig</h1>
			  <h2 id="site-description"></h2>
			  <p id="site-quote">"If I feel unhappy, I do mathematics to become happy. If I feel happy, I do mathematics to stay happy" <br> <p id="site-quote-author"> Alfr&#233d R&#233yni (1921-1970)</p></p>
			  <nav>
			  <ul>
				<li><a href="/">home</a></li>
				<li><a href="/about">about</a></li>
				<li><a href="/projects">projects</a></li>
				<li><a href="/math">mathematics</a></li>
			  </ul>
			  </nav>
			</div>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
			<ul>
				<li><a href="mailto:craig.isaa@gmail.com">email</a></li>
				<li><a href="https://github.com/isaacmc">github.com/isaacmc</a></li>
				</ul>
			</footer>
		</div>
		</body>
	</html>
