<!DOCTYPE html>
<html>
	
<head>
	<title>Isaac Sundberg</title>
	<link rel="icon" href="{{ site.baseurl }}/tortoise.png">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="{{ site.baseurl }}/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<div class="container-fluid">
			<h2><a href="{{ site.baseurl }}/">Isaac Sundberg</a></h2>
    	</div>
	
		{% include navbar.html %}
		
		<div id="home">
			{% assign current = page.url | downcase | split: '/' %}
			{% if current[1] == nil %} 
				{% include home.html %}
			{% else %}
				{{ content }}
			{% endif %}
		</div>
		
	</div>
	
	{% include footer.html %}

</body>
</html>
